@charset "utf-8";
.entry__content ul p { margin-bottom: 8px; }

#temp_entry_content * { display: none; }
#temp_entry_content { display: none; }

code { border: 0; }
input, textarea, select, pre, blockquote, figure, p, ul, ol, dl, form, .video-container, .ss-custom-select {
	margin-bottom: 1rem !important;
}

table {
	margin-bottom: 1.6rem !important;
}

pre {
    padding: 2.4rem 3.2rem 3.2rem !important;
    background: #efefef !important;
    overflow-x: auto !important;
}

.entry__header-meta .viewer {
  display: inline-flex;
  align-items: center;
  font-size: small;
  line-height: 32px;
}

.entry__header-meta .viewer-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.entry__header-meta .only-me {
  display: inline-flex;
  align-items: center;
  font-size: small;
  line-height: 32px;
}

#hashtag-box {
	display: none;
}
